body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    background-color: white;
    padding-top: 1em;
    border-radius: 10px;
    width: 320px;
    height: 497px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.qr-image {
    border-radius: 10px;
    width: 288px;
    height: 288px;
}

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: Outfit, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin: 20px 20px;
}

h3 {
    font-family: Outfit, sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 1em;
    padding: 0 20px;
}

@media (max-width: 375px) {
    img {
        margin-top: 15px;
    }

    .panel {
        padding: 0;
        border-radius: 20px;
    }
}